<style>
    .search-container {
        margin-bottom: 25px;
        margin-top: 15px;
    }

        .search-container input[type="text"],
        .search-container select,
        .search-container button {
            vertical-align: middle;
            height: 34px;
        }

        .search-container button {
            margin-left: 5px;
        }

    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-inline-end: 4px;
    }
</style>

@model MyBakeryFinal.ViewModels.Bakers.SearchVM
@{
}

<h4>Search</h4>

<div class="search-container">
    <form id="searchForm" action="/Bakers/Search" method="post" onsubmit="return validateSearchForm()">
        <label for="Filter">Filter:</label>
        @Html.DropDownListFor(m => m.Filter, new SelectList(Model.AllProperties, Model.Filter), new { @class = "form-control" })
        <input type="text" id="searchWord" placeholder="Search.." name="searchWord">
        <button type="submit" class="btn btn-success p-3 py-1">Search</button>
        <a href="/Bakers/Index" class="btn btn-danger p-3 py-1">Reset</a>
    </form>
</div>

<h4>Bakers</h4>

<table class="table">
    <tr>
        <th style="text-align: center">
            First name
        </th>
        <th style="text-align: center">
            Last name
        </th>
        <th style="text-align: center">
            E-mail
        </th>
        <th style="text-align: center">
            Salary
        </th>
        <th style="text-align: center">
            Full-Time
        </th>
        <th style="text-align: center">
            Total orders
        </th>
        <th style="text-align: center">
            Date Of Registration
        </th>
        <th style="text-align: center" colspan="2">
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Bakers)
    {
        <tr>
            <td style="text-align: center">
                @item.FirstName
            </td>
            <td style="text-align: center">
                @item.LastName
            </td>
            <td style="text-align: center">
                @item.EmailAddress
            </td>
            <td style="text-align: center">
                @item.Salary
            </td>
            <td style="text-align: center">
                @item.IsFullTime
            </td>
            <td style="text-align: center">
                @item.TotalOrders
            </td>
            <td style="text-align: center">
                @item.RegisteredOn
            </td>

            <td style="text-align: center">
                <a href="/Bakers/Edit?id=@item.Id" class="text-primary">Edit</a>
            </td>

            <td style="text-align: center">
                <a href="/Bakers/Delete?id=@item.Id" class="text-danger" method="delete" onclick="return confirm('Delete Baker?');">Delete</a>
            </td>
        </tr>
    }

</table>

<div class="d-flex justify-center">
    <a href="/Bakers/Add" class="btn btn-success p-3 py-1">Add +</a>
</div>

<script>
    function validateSearchForm() {
        var firstName = document.getElementById("firstName").value;
        if (firstName.trim() === "") {
            alert("Please enter a name to search.");
            return false;
        }
        return true;
    }
</script>